.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #ffbe4e;
}

.intro-section {
    flex: 1;
    min-width: 300px;
    font-family: Arial, sans-serif;
}

.login-container {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.btn-social {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btn-social.google {
    background-color: #ff2d2d;
    margin-top: 10px;
}

.btn-social.facebook {
    background-color: #3b5998;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #1565c0; /* Màu xanh đậm hơn */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Thêm bóng */
    transform: translateY(-2px); /* Nhẹ nhàng nổi lên */
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.forgot-password {
    text-decoration: none;
    color: #1976d2;
}

.forgot-password:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.register-link a {
    color: #1976d2;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
